# ASSIGNMENT III - THE BATTLE OF NEIGHBOURHOODS

## 1. Introduction/Business Problem

A real estate company want to build some shopping and office buildings in New-York-City and Toronto. They want to know which location are the best to do it. To advise them, I will build a profile type of each neighborhood. To do so, I will compare the both city neighborhoods using Fouresquare API to load some venues for each locations. I will cluster and rank the most unique venues occurrence for each cluster. With my neighborhoods description, the company will be able to invest in the best areas to optimize the best return on investment.

## 2. Data

The data from the internet. I use web scrapping method to retrieve the needed information. The data is a table of all the neighbourhoods, boroughs and their respective locations of New-York-City and Toronto.
To add each venues for a given location (latitude and longitude), I use Fouresquare API to load venues in a radius of 500 meters of each location. 
YOu can find above a example of the data I used:

In [2]:
import pandas as pd

In [4]:
data_exemple1 = pd.read_csv('Toronto_data.csv')
data_exemple1.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

For each locations, I get the nearest venues. You can see the resulted table as follow:

In [5]:
data_exemple2 = pd.read_csv('Toronto_venues.csv')
data_exemple2.head()

,PostalCode,PostalCode Latitude,PostalCode Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,M1B,43.806686,-79.194353,Wendy's,43.807448,-79.199056,Fast Food Restaurant
1,M1C,43.784535,-79.160497,Royal Canadian Legion,43.782533,-79.163085,Bar
2,M1E,43.763573,-79.188711,Swiss Chalet Rotisserie & Grill,43.767697,-79.189914,Pizza Place
3,M1E,43.763573,-79.188711,G & G Electronics,43.765309,-79.191537,Electronics Store
4,M1E,43.763573,-79.188711,Big Bite Burrito,43.766299,-79.190720,Mexican Restaurant

Then I ranked for each neighborhood the most common venue

In [6]:
data_exemple3 = pd.read_csv('Top_Toronto_Venues_Per_Neighbourhood.csv')
data_exemple3.head()

,PostalCode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M1B,Fast Food Restaurant,Dumpling Restaurant,Diner,Discount Store,Dog Run,Doner Restaurant,Donut Shop,Drugstore,Eastern European Restaurant,College Rec Center
1,M1C,Bar,Yoga Studio,Dumpling Restaurant,Discount Store,Dog Run,Doner Restaurant,Donut Shop,Drugstore,Eastern European Restaurant,Dim Sum Restaurant
2,M1E,Electronics Store,Mexican Restaurant,Rental Car Location,Pizza Place,Breakfast Spot,Intersection,Medical Center,Yoga Studio,Diner,Discount Store
3,M1G,Coffee Shop,Korean Restaurant,Dumpling Restaurant,Diner,Discount Store,Dog Run,Doner Restaurant,Donut Shop,Drugstore,Yoga Studio
4,M1H,Hakka Restaurant,Caribbean Restaurant,Bank,Athletics & Sports,Fried Chicken Joint,Thai Restaurant,Bakery,Eastern European Restaurant,Dumpling Restaurant,Drugstore

## 3. Methodology

Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, if any, and what machine learnings were used and why.

I clustered the neighbourhood based on their venues in 5 clusters. I use Kmeans method with k = 5. Then I visualize the cluster on a map (you can find the map on the notebook).
Then for each cluster, I rank the most recurrent venue.

## 4. Results

The results show that in cluster 1 for Toronto there is a lot of Coffee Shop. It's good place to install a shopping building because means there is a lot of people go around those areas. The cluster 2 have the airport, which is very interesting for office building. 
Concerning New-York-City, cluster 2 and 3 observe lot of food place, but cluster 2 is more interesting since there are more bus station to drag more potential customer to the shopping center.
Concerning office building, the cluster 1 have lot of park, other no cluster are interesting.
You can find the result in the notebook.

## 5. Discussion

For any recommendation please refer to section 4. and/or the notebook

## 6. Conclusion

With my analysis you can find the best place to locate your invest and have the best return on investment